@model IEnumerable<BandejaoApp.Models.CardapioItemModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardapioModel.DiaDaSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardapioModel.DiaDaSemana)
            </td>
            <td>
                @Html.ActionLink(item.Nome, "Details", new {id = item.CardapioItemId})
            </td>
            @if (item.MediaVotos != null)
            {
                <td>
                    @Html.ActionLink("Vote!", "Create", "Votes") | Média: @Html.DisplayFor(modelItem => item.MediaVotos)
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Vote!", "Create", "Votes")
                </td>
            }
        </tr>
    }

</table>