@model IEnumerable<BandejaoApp.Models.CardapioItemModel>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardapioModel.DiaDaSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CardapioModel.DiaDaSemana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaVotos)
            @*@if (item.Votes != null)
            {
                foreach (var voteItem in item.Votes)
                {
                    @Html.DisplayFor(mnodelItem => voteItem.Vote)
                }
            }*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CardapioItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CardapioItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CardapioItemId })
        </td>
    </tr>
}

</table>
